.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
scripts/**
docs/**
.github/**
.gitignore
.env
.yarnrc
biome.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
